body {
  padding-top: 60px;
}

h1 {
  margin-bottom: 20px;
}

.container-fluid {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.btn-stack .btn {
  margin-bottom: 5px;
  margin-right: 10px;
  display: block;
}

.btn-stack hr {
  border-top: 2px solid #eee;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.color-block {
  height: 28px;
  width: 28px;
  margin: 3px 3px 0 0;
  border: 1px solid black;
  line-height: 0px;
  display: inline-block;
}

.color-block [class^="icon-"],
.color-block [class*=" icon-"] {
  vertical-align: middle;
  color: white;
  visibility: hidden;
}

.status-other {
  background-color: #666666; // Gray
}

.status-terminated {
  background-color: #666666; // Gray
}

.status-provisioning {
  background-color: #3369E8; // Blue
}

.status-staging {
  background-color: #EEB211; // Yellow
}

.status-running {
  background-color: #009925; // Green
}

.status-serving {
  background-color: #009925; // Green
}

.status-stopping {
  background-color: #D50F25; // Red
}

.status-stopped {
  background-color: #D50F25; // Red
}

.status-serving [class^="icon-"],
.status-serving [class*=" icon-"] {
  visibility: visible;
}
