body {
  padding-top: 60px;
}

h1 {
  margin-bottom: 20px;
}

.span1 {
  margin-left: 0px;
  width: 33px;
}

.color-block {
  height: 28px;
  width: 28px;
  margin: 3px 3px 0 0;
  border: 1px solid black;
  line-height: 0px;
}

.color-block [class^="icon-"],
.color-block [class*=" icon-"] {
  vertical-align: middle;
  color: white;
  visibility: hidden;
}

.status-other {
  background-color: #666666; // Gray
}

.status-terminated {
  background-color: #666666; // Gray
}

.status-provisioning {
  background-color: #3369E8; // Blue
}

.status-staging {
  background-color: #EEB211; // Yellow
}

.status-running {
  background-color: #009925; // Green
}

.status-serving {
  background-color: #009925; // Green
}

.status-stopping {
  background-color: #D50F25; // Red
}

.status-stopped {
  background-color: #D50F25; // Red
}

.status-serving [class^="icon-"],
.status-serving [class*=" icon-"] {
  visibility: visible;
}
