<!DOCTYPE html>
<html>
  <head>
    <title>
      Google Compute Engine Demos!
    </title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    {% block extra_css %}
    {% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap-button.js">
    </script>
    <script type="text/javascript" src="/js/util.js">
    </script>
    {% block extra_javascript %}
    {% endblock %}
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Google Compute Engine Demos</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active">
                <a href="/">Home</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Demos <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/quick-start">Quick Start</a>
                  </li>
                  <li>
                    <a href="/fractal">Fractal</a>
                  </li>
                  <li>
                    <a href="/image-magick">Image Magick</a>
                  </li>
                </ul>
              </li>
              {% if logout_url %}
                <li>
                  <a href="{{ logout_url }}">Logout</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
