{% extends "templates/base.html" %}

{% block content %}
<h1>
  Welcome to the Compute Engine Demos site!
</h1>
<ul>
  <li>
    <a href="/quick-start">Quick Start!</a><br>
    Demonstrates how quickly instances can be started.
  </li>
  <li>
    <a href="/fractal">Fractal Generator</a><br>
    Demonstrates how to set up a simple server on an instance to
    serve tile images for the Google Maps API.
  </li>
  <li>
    <a href="/image-magick">Image Magick</a><br>
    Demonstrates how to use Cloud Storage to store instance output.
  </li>
</ul>
{% endblock %}
