#spinner {
  display:inline-block;
}

.map-container {
  height: 450px;
}

.squares {
  height: 80px;
}

hr {
  margin-top: 3px;
  border-top: 2px solid #666;
}

.stat-container {
  background: #666;
  color: white;
  border-radius: 6px;
  border: 1px solid black;
  padding: 5px;
}

.stat-name {
  text-align: center;
}

.stat-value-row {
  text-align: center;
}

.stat-value {
  font-size: 18px;
  font-weight: bold;
}

.stat-value:after {
  content: ' ';
}
